[submodule "Overlays/FPSLocker"]
	path = Overlays/FPSLocker
	url = https://github.com/zdm65477730/FPSLocker.git
[submodule "Plugins/FPSLocker-Warehouse"]
	path = Plugins/FPSLocker-Warehouse
	url = https://github.com/zdm65477730/FPSLocker-Warehouse.git
[submodule "Overlays/libs/libtesla"]
	path = Overlays/libs/libtesla
	url = https://github.com/zdm65477730/libtesla
[submodule "Overlays/libs/Atmosphere-libs"]
	path = Overlays/libs/Atmosphere-libs
	url = https://github.com/zdm65477730/Atmosphere-libs
